<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="/stylesheets/add.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/javascripts/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link rel="stylesheet" href="/stylesheets/pofire.css">
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/atlantis.min.css">
    <link href="/stylesheets/styles.css" rel="stylesheet" />
    <link href="/stylesheets/prism.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="main-header">
            <div class="logo-header" data-background-color="light-blue2">
                <a href="index.html" class="logo">
                    <img src="/images/img/logo.svg" alt="navbar brand" class="navbar-brand">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <nav class="navbar navbar-header navbar-expand-lg" data-background-color="light-blue2">
                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item">
                            <a href="http://localhost:3000/admin/hoadon" class="nav-link">
                                Lập Hóa Dơn
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/admin/dangbai" class="nav-link">
                                Đăng Bài
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/admin/dangban" class="nav-link">
                                Đăng Bán
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/{{IP}}" class="nav-link">
                                {{UserName}}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="sidebar sidebar-style-2">
            <div class="sidebar-background"></div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-info">
                        
                        <li class="nav-item active">
                            <a href="/{{idn}}">
                                <img src="/images/user.png" alt="" srcset="">
                                <p>Đăng Xuất</p>
                            </a>
                        </li>
                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Components</h4>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/admin/listuser">
                                <span class="letter-icon"><img src="/images/user.png" alt="" srcset=""></span>
                                <p>Quản Lý Tài Khoản</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/admin/listnews">
                                <span class="letter-icon"><img src="/images/book.png" alt="" srcset=""></span>
                                <p>Quản Lý Bài Báo</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/admin/listmoto">
                                <span class="letter-icon"><img src="/images/iconmoto.png" alt="" srcset=""></span>
                                <p>Quản Lý Xe</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="components/breadcrumb.html">
                                <span class="letter-icon">Bc</span>
                                <p>Breadcrumb</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="components/buttons.html">
                                <span class="letter-icon">Bt</span>
                                <p>Buttons</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-panel">
            <div class="container">
                <div class="container rounded bg-white mt-5 mb-5">
				    <div class="row">
                        {{#each getMoto}}
					    <div style="margin-top:10px;margin-left:10px" class="col-md-3 border-right">
						    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
							    <div style="background-color: #DBDBDB; padding:15px; border-radius:25px" class="row mt-4">
								    <div class="col-md-12">
                                       <img style="margin-top:15px" width="200px" src="{{this.hinhXe}}" alt="" srcset="">
                                       <h4>{{this.tenXe}}</h4>
                                       <h4>{{this.giaXe}}</h4>
                                       <h4>{{this.soKm}} Km</h4>
                                       <h4><a href="http://localhost:3000/moto/{{this._id}}">Xem thêm</a></h4>
                                    </div>
                                </div>        
                            </div>           
                        </div>
                        {{/each}}                
                    </div>                    
                </div>                        
            </div>
        </div>
        <script src="/javascripts/profile.js"></script>
        <script src="/javascripts/js/core/jquery.3.2.1.min.js"></script>
        <script src="/javascripts/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <script src="/javascripts/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
        <script src="/javascripts/js/core/popper.min.js"></script>
        <script src="/javascripts/js/core/bootstrap.min.js"></script>
        <script src="/javascripts/js/plugin/chart.js/chart.min.js"></script>
        <script src="/javascripts/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
        <script src="/javascripts/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
        <script type="text/javascript" src="/javascripts/js/plugin/jqvmap/jquery.vmap.min.js"></script>
        <script type="text/javascript" src="/javascripts/js/plugin/jqvmap/maps/jquery.vmap.world.js"
            charset="utf-8"></script>
        <script src="/javascripts/js/plugin/chart-circle/circles.min.js"></script>
        <script src="/javascripts/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="/javascripts/js/atlantis.min.js"></script>
        <script src="/javascripts/prism.js"></script>
        <script src="/javascripts/prism-normalize-whitespace.min.js"></script>
        <script type="text/javascript">
            // Optional
            Prism.plugins.NormalizeWhitespace.setDefaults({
                'remove-trailing': true,
                'remove-indent': true,
                'left-trim': true,
                'right-trim': true,
            });

            // handle links with @href started with '#' only
            $(document).on('click', 'a[href^="#"]', function (e) {
                // target element id
                var id = $(this).attr('href');

                // target element
                var $id = $(id);
                if ($id.length === 0) {
                    return;
                }

                // prevent standard hash navigation (avoid blinking in IE)
                e.preventDefault();

                // top position relative to the document
                var pos = $id.offset().top - 80;

                // animated top scrolling
                $('body, html').animate({ scrollTop: pos });
            });
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="/javascripts/admin.js"></script>
        <script src="/javascripts/nav.js"></script>    
</body>

</html>